* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.app {
  background :blue;
  height: 100vh;
  padding: 50px;
  transition: .5s ease;
}

.app-warm {
  background :red;
  height: 100vh;
  padding: 50px;
  transition: .5s ease;
}

.searchBox {
  background: #f8f8f8;
  padding: 30px 15px;
  margin-top: 30px;
}

.searchBox .searchInput {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 3px;

  box-shadow: none;
  outline: none;
}